# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfplan
*.tfvars
!terraform.tfvars.example

# Logs
*.log

# Python
__pycache__/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Keys
*.pem

# Environment
.env

# Dependencies
node_modules/
dist/
build/

# Local
local/
temp/
